header, main, footer {
    background-color: #000000;
    color: #000000;
    padding: 30px;
}


body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15 auto;
    gap: 15px;
}

header, main, footer{
    padding: 10px;
}

.contenedor_header1, .contenedor_header2, .contenedor_main1, .contenedor_main2 {
    padding: 20px;
    margin: 20px;
}

.contenedor_header1{
    background-color: #352e9c;
    display: flex;  
    justify-content: space-around; 
}
.contenedor_header2{
    background-color:#FFA43C; 
    display: flex;
    
}

.box_log, .box_nav, .box_social{
    background-color: #F657E1;
    margin: 10px 20px;
    padding: 0 10px;
    display: flex;
    gap: 10px;
}
.box_log{
    width: 5%;
}
.box_nav{
    width: 80%
}
.box_social{
    width: 10%;
}

.box_banner{
    background-color: #F7F704;
    padding: 0 10px;
    margin: 10px 20px;
    display: flex;
    gap: 10px;
    width: 100%;
}



main {
    display: flex;

}
.contenedor_main1{
    background-color: #405c72;
    display: flex;
    flex-direction: column;
    width: 75%;
}

.contenedor_main2{
    background-color: #e94184;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
}

.orden_articulo{
    display: flex;
    justify-content: space-between;
}

.columna_articulo1, .columna_articulo2{
    width: 100%;
}

.box_articulo{
    background-color: #2536f0;
    margin: 10px 20px;
    padding: 0 10px;
    display: flex;
    gap: 10px;
}

.box_navegacion{
    background-color: #25dcf0;
    margin: 10px 20px;
    padding: 0 10px;
    display: flex;
}
.box_publicidad{
    background-color: #f0d825;
    padding: 0 10px;
    display: flex;
    gap: 10px;

}

.box_pie{
    background: #f1f582;
    display: flex; 
    padding: 20px;
    margin: 20px;
    gap: 10px;
}










@media (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
    }
    .contenedor_main1 {
        flex-direction: column;
        width: 86%;
        
    }
    .orden_articulo{
        display: flex;
        flex-direction: column;
    }

    .columna_articulo1, .columna_articulo2 {
        width: 100%;
    }

    .contenedor_main2 {
        flex-direction: column;
        width: 86%;
    }

    .box_publicidad {
        margin: 0 20px;
    }

    .box_pie{
        width: 86%;

    }
}



    
@media (max-width: 480px){
    .contenedor_header1 {
        flex-direction: column;
        align-items: flex-start;
    }

    .box_log, .box_nav, .box_social {
        width: 80%;
        text-align: center;
        margin-bottom: 10px;
    }
    main {
        display: flex;
        flex-direction: column;
    
    }
    .contenedor_main1 {
        flex-direction: column;
        width: 80%;
    }
    .orden_articulo{
        display: flex;
        flex-direction: column;
    }

    .columna_articulo1, .columna_articulo2 {
        width: 100%;
    }

    .contenedor_main2 {
        flex-direction: column;
        width: 80%;
    }
    .box_pie{
        width: 80%;
    }
}